---
description: "{{ title }} 카테고리에 속한 페이지들, <code>ctfl + F</code> 로 검색"
updated: "{{ "" | today }}"
---

<h1 class="page-title">{{ title }} 카테고리</h1>
<div class="meta description">{{ description }}</div>
<div class="meta updated">Last updated: {{ updated }}</div>
{% assign pages = pagesMap[dir] %}
{% if reverse %} {% assign pages = pages | reverse %} {% endif %}
<ul>
  {% for page in pages %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a>, Last updated: {{ page.updated }}</li>
  {% endfor %}
</ul>
<p>&nbsp;</p>