---
const { id, left, right } = Astro.props;
---

<label class="switch" id={id}>
    <div class="left">{left}</div>
    <div class="wrapper">
        <div class="bar"></div>
        <div class="btn"></div>
    </div>
    <div class="right">{right}</div>
</label>

<script define:vars={{ id }}>
    "use strict";

    document.querySelector(`label#${id}`).onclick = (e) => {
        let $btn = document.querySelector(`label#${id} .btn`);
        $btn.classList.toggle("clicked");

        window.switches[id].h($btn.classList.contains("clicked"));
    };
</script>

<script define:vars={{ id }}>
    "use strict";
    
    document.addEventListener("DOMContentLoaded", () => {
        let theme = window.sessionStorage.getItem('theme') || (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches  ? 'dark' : 'light');
        if (theme === "dark") {
            document.querySelector(`label#${id}`).onclick();
        }
    });
</script>

<style lang="scss">
    label.switch {
        position: relative; height: 1.5rem; width: 5rem;
        display: block;
        cursor: pointer; overflow: hidden;

        & > div {
            position: absolute; top: 0; text-align: center;
        }
        
        .left {
            left: 0; height: 1.5rem; width: 1.5rem;
        }
        .wrapper {
            position: relative;
            left: 1.5rem; height: 100%; width: 2rem;
            display: flex; align-items: center;
            .bar {
                height: 0.5rem; width: 100%;
                background: var(--bg-sub); border-radius: 9999px;
            }
            .btn {
                position: absolute; left: 0; height: 1rem; width: 1rem;
                background: var(--fg-sub); border-radius: 9999px;
                transition: left 0.4s;

                &.clicked {
                    left: 1rem;
                }
            }
        }
        .right {
            left: 3.5rem; height: 1.5rem; width: 1.5rem;
        }
    }
</style>