- var site = {title: 'Tezyns Blog', author: 'Tezyns'}

doctype html
html(lang="ko", data-theme="light")
  head 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{site.title}
    link(rel='icon' type='image/png' href='/assets/favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css')
    link(rel='stylesheet', href='https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css')
    link(rel='stylesheet', href='/assets/global.css')
    link(rel='stylesheet', href='/assets/atomic.css')
  body(class='position:fixed top:0 right:0 bottom:0 left:0 display:flex flex-direction:column color:var(--fg-1) background:var(--bg-1)')
    section(class='flex:0_0_48px min-height:0 width:100% overflow:hidden background:var(--bg-2)')
      div(class='max-width:960px height:100% width:100% margin:0_auto padding:0_8px')
        header(class='height:100% width:100% display:flex align-items:center justify-content:left gap:0_20px flex-wrap:wrap')
          div
            span#site-title #{site.title}
            | ::
          div
            a(href='/') Home
          each menu in menus
            div 
              a(href=menu.pathname) #{menu.title}
          label#switch-theme(class='position:relative height:24px width:24px margin-left:auto overflow:hidden cursor:pointer')
            input(type='checkbox', class='height:0 width:0 opacity:0 [&:checked+div]{top:-24px}')
            div(class='position:absolute top:0 left:0 height:24px width:24px transition:top_0.4s')
              div(class='position:absolute top:0 left:0 height:24px width:24px display:flex align-items:center justify-content:center font-size:20px text-shadow:var(--shadow-1)')
                span(class='height:24px width:24px icon background-image:var(--emoji-sun-with-face) filter:drop-shadow(0_0_var(--fg-1))')
              div(class='position:absolute top:24px left:0 height:24px width:24px display:flex align-items:center justify-content:center font-size:20px text-shadow:var(--shadow-1)')
                span(class='height:24px width:24px icon background-image:var(--emoji-new-moon-face) filter:drop-shadow(0_0_var(--fg-1))')
    section#scroller(class='flex:1_0_0 min-height:0 width:100% overflow-y:scroll')
      div(class='max-width:960px width:100% margin:0_auto padding:0_8px')
        main(class='width:100%')
          // fetched page goes here
      div(class='position:sticky top:100vh background:var(--bg-2)')
        div(class='height:48px max-width:960px width:100% margin:0_auto padding:0_8px')
          footer(class='height:100% width:100% display:flex align-items:center justify-content:center flex-wrap:wrap gap:0_8px')
            div This blog is designed by #{site.author},
            div and Deployed on Github Pages.
    script.
      $root = document.querySelector('html')
      $switch_theme_input = document.querySelector('#switch-theme input')

      function set_theme(theme) {
        $root.dataset.theme = theme
        window.sessionStorage.setItem('theme', theme)
      }
    
      let cur_theme = window.sessionStorage.getItem('theme') || (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches  ? 'dark' : 'light')
      if (cur_theme === 'dark') {
        $switch_theme_input.checked = true
        set_theme('dark')
      }
      $switch_theme_input.onclick = function(e) {
        set_theme((e.target.checked) ? 'dark' : 'light')
      }
    script.
      const $scroller = document.querySelector('#scroller')
      const $main = document.querySelector('main')
      async function fetch_content() {
        const cur_pathname = window.location.pathname
        const tar_pathname = '/pages/' + cur_pathname.slice(1) + (cur_pathname === '/' ? 'index.json' : '.json')
        let response = ''
        try {
          response = await (await fetch(tar_pathname)).json()
        } catch (err) {
          response = await (await fetch('/pages/404.json')).json()
        }
        $main.innerHTML = response.content
        document.title = response.title + `::#{site.title}`
      }
      // 주소 직접 입력
      fetch_content()
      // <a> 태그 클릭
      document.body.onclick = async e => {
        if (e.target.matches('a') && e.target.href.startsWith(window.location.origin) && !e.target.getAttribute('href').match(/[.#]/)) {
          e.preventDefault()
          if (e.target.href !== window.location.href) {
            history.pushState(null, null, e.target.href)
            await fetch_content()
            $scroller.scrollTo({ top: 0 })
          }
        }
      }
      // 전,후 이동 버튼 클릭
      window.onpopstate = e => {
        fetch_content()
      }
