- var site = {title: `Tezyns' 어둠의 다크`}

doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{site.title}
    link(rel='icon' type='image/svg+xml' href='/favicon.svg')
    link(rel='stylesheet', href='/main.css')
  body
    .layout
      .left
        .aside.container
          .aside-title CATEGORIES
          .nav
            ul
              each menu in menus
                li.item
                  a(href=`/${menu.id}`) #{menu.title}
          .aside-footer Designed by Tezyns.
      .right
        .menu-btn +
        .article.container
          .site-title #{site.title}
          .content
          // fetched page goes here...
    script.
      "use strict";

      var $layout = document.querySelector(".layout");
      var $menuBtn = document.querySelector(".menu-btn");

      $menuBtn.onclick = e => {
        $layout.classList.toggle("show");
      };

      if (1100 < window.innerWidth) {
        $layout.classList.add("show");
      }
    script.
      var $content = document.querySelector(".content");

      async function fetch_content() {
        const cur_pathname = window.location.pathname;
        const tar_pathname = '/pages/' + cur_pathname.slice(1) + (cur_pathname === '/' ? 'index.json' : '.json');
        let response = '';
        try {
          response = await (await fetch(tar_pathname)).json();
        } catch (err) {
          response = await (await fetch('/pages/404.json')).json();
        }
        $content.innerHTML = response.content;
        document.title = response.title + `::#{site.title}`;

        // 사이드바 감추기
        if (1100 >= window.innerWidth) {
          $layout.classList.remove("show");
        }
      }
      // 주소 직접 입력
      fetch_content();
      // <a> 태그 클릭
      document.body.onclick = async e => {
        if (e.target.matches('a') && e.target.href.startsWith(window.location.origin) && !e.target.getAttribute('href').match(/[.#]/)) {
          e.preventDefault();
          if (e.target.href !== window.location.href) {
            history.pushState(null, null, e.target.href);
            await fetch_content();
            //- $scroller.scrollTo({ top: 0 })
            //- $sidebar.classList.remove('checked');
            //- $menu_btn_input.checked = false;
            
          }
        }
      }
      // 전,후 이동 버튼 클릭
      window.onpopstate = e => {
        fetch_content();
      }