if cat.order == 'desc'
  - var pages_ = [...pages].reverse()
else
  - var pages_ = pages

h1.page-title #{title}
.page-meta
  .page-description #{description}
  .page-updated Last updated: #{updated}
.page-main
  .lists
    ul
      each page in pages_
        if page.cat.includes(cat.id)
          li
            a(href=page.pathname) #{page.title}
            span &nbsp;#{page.updated}